:host {
    // display: flex;
    flex: 1;
    background-color: #f5f5f5;  
  }
  
  .inline-loader {
    display: inline-block;
  }
  
  .reset-password-toolbar {
    position: fixed;
    top: 0;
    height: 50px;
  }
  
  .version {
    margin: 0;
  }
  
  .reset-password-container,
  .mat-form-field {
    width: 100%;
  }
  
  .reset-password-fields > :not(:last-child) {
    margin-bottom: 8px;
  }
  
  .reset-password-error {
    color: red;
  }
  
  .reset-password-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  ::ng-deep .reset-password-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.8em 0 !important;
  }
  
  h1 {
    color: #3F77BC;
  }