:host {
  // display: flex;
  flex: 1;
  background-color: #f5f5f5;  
}

.inline-loader {
  display: inline-block;
}

.login-toolbar {
  position: fixed;
  top: 0;
  height: 50px;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: red;
}

.login-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::ng-deep .login-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.8em 0 !important;
}

h1 {
  color: #3F77BC;
}