<div class="container">
  <h2>Users</h2>
  <div class="table-container">
    <div>
      <mat-form-field appearance="outline">
        <input #userSearchInput matInput placeholder="Filter" />
      </mat-form-field>
    </div>
    <mat-table
      #table
      [dataSource]="usersList"
      matSort
      (matSortChange)="sortData($event)"
    >
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Name:</span>
          {{ element.firstName }} {{ element.lastName }}
        </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Email:</span>
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Role
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Role:</span>
          {{ element.role }}
        </mat-cell>
      </ng-container>      

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="getRecord(row)"></mat-row>
    </mat-table>

    <!-- Paginator-->

    <mat-paginator
      [length]="totalLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChanged($event)"
    >
    </mat-paginator>
  </div>
</div>
