
<div
fxFill
fxLayout="column"
fxLayoutAlign="center center"
fxLayoutGap="1.5rem"
class="top-level-container"
>
<div style="width: 100%;">
<mat-toolbar color="primary" class="forgot-password-toolbar"></mat-toolbar>
</div>
<div class="forgot-password-container" fxLayout="row" fxLayoutAlign="center">
  <mat-card
    fxFlex="90%"
    fxFlex.sm="66%"
    fxFlex.md="50%"
    fxFlex.gt-md="33%"
    class="forgot-password-box"
  >
    <div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
        <img
          src="../../assets/codebility.jpeg"
          width="100px"
          height="100px"
        />
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h1>Forgot Password</h1>
    </div>
    </div>
    <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" novalidate>
      <div class="forgot-password-error" [hidden]="!error || isLoading">
        email is incorrect.
      </div>
      <br />
      <div class="forgot-password-fields" fxLayout="column">
        <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="forgot-password-form-field">
          <input
            type="text"
            matInput
            formControlName="email"
            autocomplete="email"
            [placeholder]="'email'"
            required
          />
          <mat-error
            *ngIf="
              forgotPasswordForm.controls.email.invalid &&
              forgotPasswordForm.controls.email.touched
            "
          >
            <span>email is required</span>
          </mat-error>
        </mat-form-field>
        
        <div>          
          <span style="float: right"><a routerLink="/login">Back to Login</a></span>
        </div>         
        <br />
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="forgotPasswordForm.invalid || isLoading"
        >
          <span>Submit</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
</div>
